// COLORS
$color-primary-1 : #2980B9;
$color-primary-2 : #85C1E9;
$color-primary-5 : #EBF5FB;

$color-black-1: #000;

$color-gray-5: #fafafa;
$color-gray-4: #f5f5f5;
$color-gray-3: #eeeeee;
$color-gray-2: #e0e0e0;
$color-gray-1: #bdbdbd;

$color-silver-1: #F2F3F4;
$color-silver-2: #D7DBDD;
$color-silver-3: #BDC3C7;
$color-silver-4: #909497;

$color-blue-gray-1: #ebedef; 

// BREAKPOINTS

$med: 500px;