// IMPORT
@import 'abstracts/variables';
@import 'components/header';
@import 'components/inputs';
@import 'components/button';
@import 'components/output_section';
@import 'components/input_section';

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: $color-blue-gray-1;
    font-family: 'Roboto'
}

h1 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 0.5rem;
    vertical-align: baseline;
    background: transparent;
    
}

h5 {
    font-size: 125%;
    font-weight: 100;
}

p {
    font-size: .8rem;
}








