// IMPORT
@import 'abstracts/variables';
@import 'components/header';
@import 'components/inputs';
@import 'components/button';
@import 'components/output_section';
@import 'components/input_section';

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: $color-blue-gray-1;
    font-family: 'Roboto'
}



h5 {
    font-size: 125%;
    font-weight: 100;
}

p {
    font-size: .8rem;
}








